<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head(title='Beer Manager - Bill') }"></head>
<body>

<header th:replace="~{home :: .navbar}"></header>

<div class="main" >


    <p class="title mt-4" >Bill</p>

    <span th:unless="${#lists.isEmpty(futs)}"  class="mt-4">
<table class="table  is-striped  is-hoverable is-fullwidth">
    <tr><th>Date</th><th>Fut</th><th>Prix</th><th> Drinked Beer</th><th>Drinked Beer total</th><th>À payer</th><th>Est payé</th></tr>
    <tr th:each="fut : ${futs}" >
            <td><span th:text="${'Du ' +#temporals.format(fut.open, 'dd/MM/yyyy à HH:mm') + ' au ' + #temporals.format(fut.end, 'dd/MM/yyyy à HH:mm')}  "> Date </span></td>
            <td><span th:text="${fut.name}"> Nom </span></td>
            <td><span th:text="${#numbers.formatDecimal(fut.price,0,'COMMA',2,'POINT')} + ' €'"> Prix </span></td>
            <td><a th:href="@{'/detailbill/'+${fut.futId}}"><span th:text="${nbBeerUserFut.get(fut) + ' cl'}"> Drinked Beer  </span></a></td>
            <td><span th:text="${nbBeerFut.get(fut) + ' cl'}"> Drinked Beer total </span></td>
            <td  th:if="${nbBeerUserFut.get(fut) == 0}"><span >0</span></td>
            <td  th:if="${nbBeerUserFut.get(fut) != 0}"><span th:text="${#numbers.formatDecimal(fut.price / nbBeerFut.get(fut) * nbBeerUserFut.get(fut),0,'COMMA',2,'POINT') + ' €'}"> à payer </span></td>
            <td  th:if="${isPaidByFut.get(fut) || nbBeerUserFut.get(fut) == 0}"><span> Oui </span></td>
            <td  th:if="${! isPaidByFut.get(fut) && nbBeerUserFut.get(fut) != 0}"><span> Non </span></td>
        </tr>
</table>
  </span>

</div>
<div th:replace="~{home :: .footer}"></div>
</body>

</html>