<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head(title='Beer Manager - Consommation') }"></head>
<body>

<header th:replace="~{home :: .navbar}"></header>

<div class="main">

   <p class="title"> Bière bue </p>
    <span th:unless="${#lists.isEmpty(beers)}">
<table class="table  is-striped  is-hoverable is-fullwidth">
    <tr><th>Date</th><th>Quantité</th><th>Supprimer ?</th></tr>
    <tr th:each="beerit : ${beers}">
            <td><span th:text="${#temporals.format(beerit.date, 'dd/MM/yyyy à HH:mm')}"> Date </span></td>
            <td><span th:text="${beerit.size + 'cl'}"> Size </span></td>
     <td><form  method="POST" action="#" th:action="@{/conso}" th:object="${beer}" onsubmit="return confirm('Delete beer ?');" ><input type="hidden" name="beerId"  th:value="${beerit.beerId}"><input th:if="${! isBilled.get(beerit)}"  type="submit" class="button delete_button" value="Supprimer"></form></td>
        </tr>
</table>
  </span>
</div>
<div th:replace="~{home :: .footer}"></div>
</body>

</html>