<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head(title='Beer Manager - Greeting') }"></head>
<body>

<header th:replace="~{home :: .header}"></header>
<aside th:replace="~{home :: .sidebar}"></aside>

<div class="main" th:if="${ user.admin == true}">

  Last Fut:
  <span th:unless="${#lists.isEmpty(futs)}">
<table>
    <tr><th>Date</th><th>Nom</th><th>Prix</th><th>Fini</th></tr>
    <tr th:each="fut : ${futs}">
            <td><span th:text="${fut.open}"> Date </span></td>
            <td><span th:text="${fut.name}"> Nom </span></td>
            <td><span th:text="${fut.price}"> Prix </span></td>
            <td><span th:text="${fut.end}"> End </span></td>
        </tr>
</table>
  </span>
      <form method="POST" action="#" th:action="@{/futs}" th:object="${fut}" >
         <label for="nom">Nom</label> <input id="nom"  type="text" th:field="*{name}" /> <br />
         <label for="prix">Prix</label> <input id="prix"  type="text" th:field="*{price}" /><br />
         <label for="open">Ouvert le </label> <input id="open"  type="datetime-local" th:field="*{open}"/><br />
         <label for="end">Fini le </label> <input id="end" type="datetime-local" th:field="*{end}"/><br />
            <input type="submit" value="Ajouter" />
      </form>

</div>
<div th:replace="~{home :: .footer}"></div>
</body>

</html>