<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:utext="${title?:'Beer Manager - Home'}"></title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>
<nav class="navbar is-dark ">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title is-1 has-text-white-ter" >Beer Manager</h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="toggleBurger()" id="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start"  th:if="${ user != null}">
            <a class="navbar-item " href="/">
                Home
            </a>

            <a class="navbar-item " href="/conso">
                Consommation
            </a>
            <a class="navbar-item " href="/bill">
                Facture
            </a>
            <a class="navbar-item " href="/hall">
                Hall
            </a>


            <div class="navbar-item has-dropdown is-hoverable" th:if="${ user.admin == true}">
                <a class="navbar-link ">
                    Gestion
                </a>

                <div class="navbar-dropdown"  th:if="${ user.admin == true}">
                    <a class="navbar-item" href="/users">
                        Users
                    </a>
                    <a class="navbar-item" href="/futs">
                        Fut
                    </a>
                    <a class="navbar-item" href="/manageBill">
                        Bill
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="mr-4 has-text-white-ter" href="/profil" th:if="${ user != null}"  th:text="${user.name}">

                    </a>
                    <a class="button is-light" href="/oauth2/authorization/google" th:if="${ user == null}">
                        Log in
                    </a>
                    <a class="button is-light" href="/logout" th:if="${ user != null}">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="main">
    <p class="title"> Bienvenue à l'accueil</p>

    <p class="title is-4 ">Principe</p>
    <p>Cette application est la pour comptabilisé les consommations via les QR Code présent sur la tireuse à bière. Un fois le fut terminé vous pourrez acceder au montant que vous devez payer via la page facture.</p>
    <p>Vous êtes identifié via votre compte google et ce n'est pas lié au compte entreprise.</p>

    <p class="title is-4 mt-4">Paiement</p>
    <p>Pour le paiement, le plus simple est via lydia via ce <a href="https://lydia-app.com/collect/43542-biere/fr">lien</a></p>

</div>

<footer class="footer has-background-dark"><div class="content has-text-centered has-text-white-ter">
    Made by Kevin Vezier - 2021
</div>
</footer>
</body>
</html>