<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="~{home :: head(title='Beer Manager - Login') }"></head>
<body>
<header th:replace="~{home :: .header}"></header>
<aside th:replace="~{home :: .sidebar}"></aside>
<div class="main">

<div th:if="${param.logout}">
  You have been logged out.
</div>
<div class="container unauthenticated">
  <div>
    With Google: <a href="/oauth2/authorization/google">click here</a>
  </div>
</div>
</div>
<div th:replace="~{home :: .footer}"></div>
</body>
</html>