<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head(title='Beer Manager - Profile') }"></head>
<body>

<header th:replace="~{home :: .navbar}"></header>

<div class="main">
<div class="container authenticated">
  Connecté en tant que <span id="user" th:text="${user.name}"></span>
<br />
  Via le compte Google : <span id="user" th:text="${user.email}"></span>

<p>
  Vous avez bu <span id="user" th:text="${nbBeer}"></span> bières !
</p>
</div>
</div>
<div th:replace="~{home :: .footer}"></div>
</body>

</html>