<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head(title='Beer Manager - Profile') }"></head>
<body>

<header th:replace="~{home :: .navbar}"></header>

<div class="main">
<div class="container authenticated">
  Logged in as: <span id="user" th:text="${user.name}"></span>
<br />
  Google account: <span id="user" th:text="${user.email}"></span>

<p>
  You drink <span id="user" th:text="${nbBeer}"></span> beer !
</p>
</div>
</div>
<div th:replace="~{home :: .footer}"></div>
</body>

</html>