<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head(title='Beer Manager - Users') }"></head>
<body>

<header th:replace="~{home :: .navbar}"></header>

<div class="main" th:if="${ user.admin == true}">

  <span th:unless="${#lists.isEmpty(users)}">
<table class="table  is-striped  is-hoverable is-fullwidth">
    <tr><th>Email</th><th>Nom</th></tr>
    <tr th:each="oneUser : ${users}">
            <td><span th:text="${oneUser.email}"> Date </span></td>
            <td><span th:text="${oneUser.name}"> Nom </span></td>
        </tr>
</table>


  </span>
</div>
<div th:replace="~{home :: .footer}"></div>
</body>

</html>